.ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.flex-item-center {
  display: flex;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-wrap {
  padding: 10px 0;
  background-color: #e5e5e5;

  .car-item {
    margin: 0 10px 10px 10px;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
  }

  // .car-item:first-child {
  //   border-top: 10px solid #e5e5e5;
  // }
  .date {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #777;
    border-bottom: 1px solid #eee;
  }

  .brand-img {
    width: 44px;
    height: 37px;

    image {
      width: 100%;
      height: 100%;
    }
  }

  .brand-title {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }

  .good {
    margin-bottom: 10px;
  }

  .good-main-title {
    margin-bottom: 10px;

    h4 {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      color: #333
    }

    text {
      font-size: 11px;
      line-height: 12px;
      color: #777;
    }
  }

  .good-box {
    // margin-bottom: 10px;
    border-bottom: 1px solid #eee;

    .radio-wrap {
      width: 30px;

      // .radio {
      //   width: 20px;
      //   height: 20px;
      // }
    }

    .good {
      width: 100%;

      .main-img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        border-radius: 5px;

        image {
          width: 100%;
          height: 100%;
        }
      }

      .content {
        width: calc(100% - 115px);

        h5 {
          margin-bottom: 6px;
          font-size: 13px;
          line-height: 19px;
          color: #333333;
        }

        .type {
          display: inline-block;
          margin-bottom: 10px;
          padding: 4px 11px;
          font-size: 13px;
          color: #777777;
          background: #F4F4F4;
          border-radius: 29px;
        }

        .price {
          font-size: 16px;
          line-height: 16px;
          color: #F04F2D;
          font-weight: bold;

          text {
            font-size: 11px;
          }
        }

        .number {
          font-size: 11px;
          color: #777777;
        }
      }
    }
  }

  .good-box:last-child {
    border-bottom: 0;
  }
}

.calc {
  position: fixed;
  width: 100%;
  bottom: 0;
  // padding: 5px 0;
  background: #FFFFFF;
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #E6E6E6;
  z-index: 10;

  .calc-content {
    padding: 5px 20px;
  }

  .select-all {
    margin-left: 5px;
    margin-right: 13px;
    font-size: 13px;
    color: #777;
  }

  .total {
    font-size: 13px;
    color: #333;
  }

  .price {
    font-size: 13px;
    color: #F04F2D;

    .icon {
      font-size: 12px;
    }
  }

  .total-num {
    margin-left: 20px;
    font-size: 11px;
    color: #777;
  }

  .delete {
    font-size: 13px;
    color: #F04F2D;
  }

  .calc-btn {
    display: inline-block;
    width: 88px;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(270deg, #D81210 0%, #F04F2D 100%);
    border-radius: 24px;
  }
}

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.total {
  font-size: 13px;
  color: #333;
}

.price {
  font-size: 14px;
  color: #F04F2D;

  .icon {
    font-size: 12px;
  }
}

.total-num {
  margin-right: 20px;
  font-size: 11px;
  color: #777;
}