.ysfy{
	background: url(../../static/img/brands/ysfy.png) center center no-repeat;
}
.hw{
	background: url(../../static/img/brands/hw.png) center center no-repeat;
}
.mkf{
	background: url(../../static/img/brands/mkf.png) center center no-repeat;
}
.stf{
	background: url(../../static/img/brands/stf.png) center center no-repeat;
}
.mlgy{
	background: url(../../static/img/brands/mlgy.png) center center no-repeat;
}